torch
torchvision
accelerate
datasets
diffusers==0.21.0
huggingface-hub
transformers==4.33.2
xformers
timm==0.4.12
sentencepiece
einops
numpy
Pillow
tqdm
tenacity
open-clip-torch
git+https://github.com/openai/CLIP.git
omegaconf
PyYAML
xlwt
packaging
